<clr-modal [clrModalClosable]="false"
           [clrModalOpen]="(tickets$ | async)?.showAddLinesModal">
  <h3 class="modal-title">Add Lines</h3>
  <div class="modal-body">

    <form [connect]="['tickets']" autocomplete="off">
      <section class="form-block">
        <div class="form-group">
          <label class="required">Lines</label>
          <label for="addLinesTotalLines"
                 aria-haspopup="true"
                 role="tooltip">
            <input type="text"
                   name="addLinesTotalLines"
                   id="addLinesTotalLines"
                   ngModel
                   required
                   #addLinesTotalLines="ngModel">
          </label>
        </div>
      </section>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="hideModal()">Cancel</button>
    <button type="button"
            class="btn btn-primary"
            disabled
            *ngIf="addLinesTotalLines?.errors?.required">Ok
    </button>
    <button type="button"
            class="btn btn-primary"
            *ngIf="!totalLines?.errors?.required"
            (click)="addLines()">Ok
    </button>
  </div>
</clr-modal>
