<div class="main-container">
  <div class="content-container">
    <div class="content-area">
      <router-outlet>

        <app-empty *ngIf="(tickets$ | async)?.uncheckedTickets.length === 0 &&
        (tickets$ | async)?.checkedTickets.length === 0 &&
        !(tickets$ | async)?.isFetchingTickets"></app-empty>

      </router-outlet>
    </div>
    <clr-vertical-nav>
      <label class="nav-header">Unchecked</label>
      <a clrVerticalNavLink
         [routerLink]="ticket.id"
         *ngFor="let ticket of (tickets$ | async)?.uncheckedTickets"
         routerLinkActive="active">{{ticket.createdAt | date:'short'}}</a>

      <label class="nav-header">Checked</label>
      <a clrVerticalNavLink
         [routerLink]="ticket.id"
         *ngFor="let ticket of (tickets$ | async)?.checkedTickets"
         routerLinkActive="active">{{ticket.createdAt | date:'short'}}</a>
    </clr-vertical-nav>
  </div>
</div>
